services:
  db:
    image: mongo:latest
    container_name: epicalendar-db
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_ROOT_USERNAME:-mongo}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_ROOT_PASSWORD:-mongo}
      MONGO_INITDB_DATABASE: epicalendar_db
      MONGODB_URI: mongodb://${MONGO_ROOT_USERNAME:-mongo}:${MONGO_ROOT_PASSWORD:-mongo}@localhost:27017/epicalendar?authSource=admin
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
      - ./mongo-init:/docker-entrypoint-initdb.d:ro
    networks:
      - app-network
    restart: always
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  # Service pour le serveur backend
  server:
    build:
      context: server/
      dockerfile: Dockerfile.prod
    container_name: epicalendar-server
    depends_on:
      db:
        condition: service_healthy
    env_file: .env.prod
    environment:
      PORT: 5000
      TZ: Europe/Paris
    ports:
      - "5000:5000"
    volumes:
      - /etc/localtime:/etc/localtime:ro
    networks:
      - app-network
    restart: always

  # Service pour le client frontend
  client:
    build:
      context: client
      dockerfile: Dockerfile.prod
      args:
        NEXT_PUBLIC_API_URL: ${NEXT_PUBLIC_API_URL}
    container_name: epicalendar-client
    depends_on:
      - server
    ports:
      - "3000:3000"
    env_file: .env.prod
    networks:
      - app-network
    restart: always

# Volumes pour persister les données
volumes:
  mongodb_data:

# Réseau commun pour tous les services
networks:
  app-network:
    driver: bridge