/* CSS Reset */
@tailwind base;
@tailwind components;
@tailwind utilities;



/* Variables */

:root {
    --background: #e0e0e0;
    --background-item: #ffffff;
    --foreground:  #202020;
    --text-color: #404040;
    --color-epitech: #2693d0;
    --color-epitech-hover: #3BA8E5;
}
/*
@media (prefers-color-scheme: dark) {
    :root {
        --background: #171717;
        --foreground: #ffffff;
    }
}
*/



/* Styles */

:root {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    text-align: center;
}

body {
    margin: 0;
    background: var(--background);
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
}

.page-title {
    text-align: center;
    color: var(--color-epitech);
}



/* Calendar styles */

/* Line for current time indicator */
.rbc-current-time-indicator {
    background-color: #900000;
    height: 0.25rem;
    box-shadow: 0 0 0.5rem #900000;
    animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.6; }
}

/* Hide all-day events */
.rbc-allday-cell {
    display: none;
}

.rbc-row.rbc-allday {
    display: none;
}

/* Toolbar styles */
.rbc-btn-group button {
    border: 1px solid var(--foreground);
    border-radius: 0.5rem;
}

.rbc-toolbar button.rbc-active {
    background-color: var(--background-item);
    border: 1px solid var(--foreground);
}

.rbc-toolbar button.rbc-active:focus, .rbc-toolbar button.rbc-active:hover, .rbc-toolbar button:focus, .rbc-toolbar button:hover, .rbc-toolbar button:active:focus, .rbc-toolbar button:active:hover {
    background-color: var(--background-item);
    border: 1px solid var(--foreground);
}

.rbc-toolbar-label {
    font-weight: bold;
}

/* Margin around the calendar */
.rbc-calendar {
    margin: 1rem;
}

/* Events styles */
.rbc-event:focus {
    outline: none;
    box-shadow: none;
}

/* Current day highlight */
.rbc-today {
    background-color: var(--background-item);
}

.rbc-header.rbc-today {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

/* Borders and lines */
.rbc-timeslot-group {
    border: none;
}

.rbc-time-content {
    border: none;
}

.rbc-header {
    border: none;
}

.rbc-time-header-content {
    border: none;
}

.rbc-time-view {
    border: none;
}

.rbc-day-slot .rbc-time-slot {
    border-top: 1px solid var(--foreground);
}

.rbc-time-content>*+*>* {
    border-left: 1px solid var(--foreground);
}

.rbc-day-slot:last-child { /* Dernière colonne horizontale */
    border-right: 1px solid var(--foreground);
}

.rbc-day-slot { /* Dernière ligne verticale */
    border-bottom: 1px solid var(--foreground);
}