apiVersion: apps/v1
kind: Deployment
metadata:
    name: mongodb
    namespace: epicalendar
    labels:
        app: mongodb
spec:
    replicas: 1
    selector:
        matchLabels:
            app: mongodb
    template:
        metadata:
            labels:
                app: mongodb
        spec:
            containers:
                - name: mongodb
                  image: mongo:latest
                  ports:
                      - containerPort: 27017
                  env:
                      - name: MONGO_INITDB_ROOT_USERNAME
                        valueFrom:
                            secretKeyRef:
                                name: mongodb-secret
                                key: MONGO_INITDB_ROOT_USERNAME
                      - name: MONGO_INITDB_ROOT_PASSWORD
                        valueFrom:
                            secretKeyRef:
                                name: mongodb-secret
                                key: MONGO_INITDB_ROOT_PASSWORD
                      - name: MONGO_INITDB_DATABASE
                        valueFrom:
                            secretKeyRef:
                                name: mongodb-secret
                                key: MONGO_INITDB_DATABASE
                      - name: TZ
                        value: Europe/Paris
                  volumeMounts:
                      - name: mongodb-storage
                        mountPath: /data/db
                      - name: localtime
                        mountPath: /etc/localtime
                        readOnly: true
                  resources:
                      requests:
                          memory: "512Mi"
                          cpu: "250m"
                      limits:
                          memory: "1Gi"
                          cpu: "500m"
            volumes:
                - name: mongodb-storage
                  persistentVolumeClaim:
                      claimName: mongodb-pvc
                - name: localtime
                  hostPath:
                      path: /etc/localtime
---
apiVersion: v1
kind: Service
metadata:
    name: mongodb-service
    namespace: epicalendar
spec:
    selector:
        app: mongodb
    ports:
        - protocol: TCP
          port: 27017
          targetPort: 27017
    type: ClusterIP
