apiVersion: v1
kind: PersistentVolumeClaim
metadata:
    name: mongodb-pvc
    namespace: epicalendar
spec:
    accessModes:
        - ReadWriteOnce
    resources:
        requests:
            storage: 10Gi
    # storageClassName: standard  # Remove or update based on your cluster's available storage classes
