@font-face {
    font-family: 'Nasalization';
    src: url('/nasalization.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}



/* Header */

header {
    background: var(--background-item);

    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid #d0d0d0;

    padding-left: 1rem;
    padding-right: 1rem;

    display: flex;
    align-items: center;

    height: 4rem;
}

@media (min-width: 640px) {
    header {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

@media (min-width: 1024px) {
    header {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}



/* Title and logo */

.home-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo {
    width: 2rem;
    height: 2rem;

    margin-right: 0.25rem;
}

.title {
    margin-left: 0.25rem;

    font-family: 'Nasalization', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-epitech);
}


/* Navigation (desktop) */

.burger {
    display: none;
    background: none;
    border: none;
    cursor: pointer;

    font-size: 1.5rem;
}

.menu-container {
    display: flex;
    flex: 1;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;

    text-decoration: none;
    font-size: medium;
}

nav > * + * {
    margin-left: 1rem;
}

.nav-center {
    flex: 1;
    display: flex;
    justify-content: center;
}

.nav-right {
    display: flex;
    justify-content: flex-end;
}



/* Navigation (mobile) */

@media (max-width: 1200px) {
    .burger {
        display: flex;
        justify-content: flex-end;
        flex: 1;
    }

    .menu-container {
        flex-direction: column;
        position: absolute;
        right: 1rem;
        top: 4rem;

        background: white;
        border: 1px solid var(--color-background);
        border-radius: 8px;
        padding: 1rem;

        opacity: 0;
        transform: translateY(0);
        pointer-events: none;
        transition: none
    }

    .menu-container.open {
        opacity: 1;
        transform: translateY(0.5rem);
        pointer-events: auto;
        transition: opacity 0.3s ease, transform 0.3s ease;
    }

    .menu-container.closing {
        opacity: 0;
        transform: translateY(0);
        pointer-events: none;
        transition: opacity 0.3s ease, transform 0.3s ease;
    }

    .menu-section {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .menu-separator {
        width: 100%;
        border-top: 1px solid var(--color-foreground);
        margin: 1rem 0;
    }

    nav > * + * {
        margin-left: 0;
    }
}



/* Clickable */

.nav-link {
    color: var(--text-color);
    transition-property: color;
    transition-duration: 500ms;

    text-decoration: none;
}

.nav-link:hover {
    color: var(--color-epitech);
}

.nav-button {
    background-color: var(--color-epitech);
    color: var(--color-background);
    transition-property: color;
    transition-duration: 500ms;

    border-radius: 1.0rem;
    border: none;

    font-size: medium;
    text-decoration: none;

    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.nav-button:hover {
    background-color: var(--color-epitech-hover);
}
