############################ CONFIGURATION ####################################
name: epicalendar-action

on: [push, pull_request]

#env:

concurrency:
    group: ${{ github.workflow }}-${{ github.ref_name }}
    cancel-in-progress: true
###############################################################################



############################ JOBS #############################################
jobs:

    ######################## COMMIT ###########################################
    check_commit:
        runs-on: ubuntu-latest

        #################### STEPS ############################################
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4.1.1
              with:
                fetch-depth: 0

            - name: Launch commit name checker
              run: |
                COMMIT_MSG=$(git log --format="%s" -1)
                .github/scripts/check_commit "$COMMIT_MSG"
    ###########################################################################



    ######################## WIKI #############################################
    update_wiki:
        runs-on: ubuntu-latest
        needs: check_commit

        #################### STEPS ############################################
        steps:
            - name: Checkout main repo
              uses: actions/checkout@v4.1.1
              with:
                fetch-depth: 0

            - name: Get changed files
              id: changed_files
              run: |
                {
                  echo 'files<<EOF'
                  git diff --name-only HEAD~1 HEAD | grep -E '(^docs/|^README\.md)' || true
                  echo 'EOF'
                } >> $GITHUB_OUTPUT

            - name: Generate wiki files
              if: steps.changed_files.outputs.files != ''
              run: .github/scripts/generate_wiki

            - name: Install GitHub CLI
              if: steps.changed_files.outputs.files != ''
              run: |
                sudo apt update
                sudo apt install -y gh
            - name: Set up Wiki
              if: steps.changed_files.outputs.files != ''
              uses: Andrew-Chen-Wang/github-wiki-action@v5.0.3
    ###########################################################################



    ######################## COMPILATION / REFORMAT ###########################
    check_compilation_and_reformat_code:
        runs-on: ubuntu-latest
        needs: check_commit

        #################### STEPS ############################################
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4.1.1
              with:
                fetch-depth: 0

            - name: Set up pnpm
              uses: pnpm/action-setup@v4
            - name: Set up Node.js
              uses: actions/setup-node@v4
              with:
                node-version: 22.19.0
            - name: Configure PNPM store
              run: |
                pnpm config set store-dir ~/.pnpm-store
                # mkdir -p ~/.pnpm-store
            - name: Cache pnpm store
              uses: actions/cache@v4
              with:
                path: ~/.pnpm-store
                key: ${{ runner.os }}-pnpm-${{ hashFiles('**/pnpm-lock.yaml') }}
                restore-keys: |
                  ${{ runner.os }}-pnpm-
            - name: Install dependencies
              run: |
                pnpm install

            - name: Format code and check compilation (build, lint and debug)
              run: |
                pnpm run full-build
                echo "::notice title=Compilation:: Compilation completed successfully."

            - name: Configure Git
              run: |
                git config --global user.email "action@github.com"
                git config --global user.name "GitHub Actions"
                git config --global --add safe.directory $(pwd)
                git config --global push.autoSetupRemote true
            - name: Commit and push
              run: |
                git status
                git add -u
                (git commit -m "STYLE: reformat the code" && git push && echo "::notice title=Reformatting:: Code reformatted and pushed successfully.") || echo "::notice title=Reformatting:: The code is already formatted."
              env:
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    ###########################################################################



    ######################## WIKI #############################################
    update_wiki:
        runs-on: ubuntu-latest
        needs: check_compilation_and_reformat_code
        if: github.ref == 'refs/heads/main'

        #################### STEPS ############################################
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4.1.1
              with:
                fetch-depth: 0

            - name: Get changed files
              id: changed_files
              run: |
                {
                    echo 'files<<EOF'
                    git diff --name-only HEAD~1 HEAD | grep -E '(^docs/|^README\.md)' || true
                    echo 'EOF'
                } >> $GITHUB_OUTPUT

            - name: Generate wiki files
              if: steps.changed_files.outputs.files != ''
              run: .github/scripts/generate_wiki

            - name: Install GitHub CLI
              if: steps.changed_files.outputs.files != ''
              run: |
                sudo apt update
                sudo apt install -y gh
            - name: Set up Wiki
              if: steps.changed_files.outputs.files != ''
              uses: Andrew-Chen-Wang/github-wiki-action@v5.0.3
    ###########################################################################

###############################################################################
